
@media (max-width:800px){
  #containerDetails{
    position:absolute;
  }
}

@media(min-width:800px){
  #containerDetails{
    position: fixed;
  
  }
  
}


body #pokemon{
  margin-bottom: 25px;
  padding-bottom:15px;
  border-bottom:1px solid #ddd;
}

#header{
  display: flex;
  padding:20px;
  margin-bottom: 30px;
  background-color:#fff !important;

  justify-content: center;  
}

#header img {
  margin-right:10px;
}